
<body>        
<table cellspacing="0" cellpadding="0" width="100%" style="padding: 0;">
    <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="600px" style="margin: 0px auto 0px; text-align: center;">
                    <tbody>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto; text-align: center; border-radius: 4px; box-shadow: 0 0 10px #ddd;" bgcolor="#fff" >                                
                                       <tr>
                                           <td>
                                               <table width="100%" style="background-color: #eeeeee; padding: 10px;border-radius: 4px 4px 0 0;">
                                                   <tbody>
                                                       <tr>
                                                           <td style="text-align:center;">
                                                               <img src="logo-dark.png" alt="HiFi" width="100px" />
                                                           </td>
                                                       </tr>
                                                   </tbody>
                                               </table>
                                           </td>
                                       </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" style="margin:0 auto;padding:25px 10px;background: linear-gradient(rgba(72, 61, 139, 0.69), rgb(72, 61, 139)), img.png); background-size: cover; height: 190px; background-repeat: no-repeat;background-color: #aa1232"> 
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                               <h1 style="text-align:center;color: #fff;font-family:Georgia;"> Hello </h1>
                                                               <p style="letter-spacing:1px;line-height:30px;text-align:center;color: #fff;margin-bottom: 40px;font-family: Georgia;">
                                                                It's great to have you with us. We hope you enjoy our app!</strong>
                                                                </p>
                                                               <!--  <a href="http://localhost/dobidukkan/set-password/IixDMGAKYAo=/JiwzPFQtQzBRCmAK" style="padding:12px 25px;background-color: #000;border: none;color: #fff;border-radius: 10px;cursor:pointer;margin-top:15px; text-decoration: none;box-shadow: 0 3px 6px -1px rgba(0,0,0,.25)">Access Account
                                                                </a> -->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                        	<td>
                                        		<table width="100%" style="height: 230px;">
                                        			<tr>
                                        				<td style="padding: 10px;">
                                        					<h2 style="text-transform: uppercase; color: #494949;font-family:Georgia;">YOUR ACCOUNT STATEMENT	</h2>
                                        					<!-- <p style="text-align: left; color: #515151;font-family: Georgia;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
                                        					<p style="text-align: left; color: #515151;font-family: Georgia;">Kindly check your inbox for account statement. For any query feel free to contactr us. It is pleasure to serving you.</p>
                                        					<p style="text-align: left; color: #515151;font-family: Georgia;">Yours sincerely,</p>
                                        					<h4 style="text-align: left; font-weight: bold; color: #000;font-family:Georgia;">Team Anjum</h4>
                                        				</td>
                                        			</tr>
                                        		</table>
                                        	</td>
                                        </tr>
                                        
                                       <tr>
                                           <td>
                                               <table width="100%" style="border-top:1px solid #ddd; margin-top:10px;border-radius:0 0 4px 4px;background: #333;"> 
                                                   <tbody>
                                                       <tr width="100%">
                                                           <td align="middle" style="text-align: center;font-weight:bolder;color: #666666;padding:20px;font-size:16px;">
                                                               <span style="margin: 10px;">
                                                                   <img src="facebook.png" width="20px" height="auto" style="padding: 5px;border-radius: 100%;background: #fff;">
                                                               </span>
                                                               <span style="margin: 10px;">
                                                                   <img src="gmail.png" width="20px" height="auto" style="padding: 5px;border-radius: 100%;background: #fff;">
                                                               </span>
                                                           </td>
                                                       </tr>
                                                       <tr width="100%">
                                                           <td style="color: #fff; text-align: center;">
                                                               
                                                               <p style="margin:10px;font-size: 14px;font-family:Georgia;">Copyright © 2015-2019 Anjum, All Rights Reserved.</p>
                                                           </td>
                                                       </tr>

                                                   </tbody>
                                               </table>
                                           </td>
                                       </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>                                
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>


